<!-- contact section -->
<section class="book_section layout_padding">
  <div class="container">
    <div class="heading_container">
      <h2>Contact Us</h2>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="img_container">
          <img src="assets/images/f6.png" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form_container">
          <form action="">
            <div>
              <input type="text" class="form-control" placeholder="Your Name" />
            </div>
            <div>
              <input
                type="phone"
                class="form-control"
                placeholder="Phone Number"
              />
            </div>
            <div>
              <input
                type="email"
                class="form-control"
                placeholder="Your Email"
              />
            </div>
            <div>
              <textarea
                class="text-area"
                placeholder="Your Comment..."
                cols="6"
                rows="6"
              ></textarea>
            </div>
            <div class="btn_box">
              <button>Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end contact section -->
