<!-- book section -->
<section class="book_section layout_padding">
  <div class="container">
    <div class="heading_container">
      <h2>Book A Table</h2>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="img_container">
          <img src="assets/images/booktable.png" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form_container">
          <form action="">
            <div>
              <input type="text" class="form-control" placeholder="Your Name" />
            </div>
            <div>
              <input
                type="text"
                class="form-control"
                placeholder="Phone Number"
              />
            </div>
            <div>
              <input
                type="email"
                class="form-control"
                placeholder="Your Email"
              />
            </div>
            <div>
              <select class="form-control nice-select wide">
                <option value="" disabled selected>How many persons?</option>
                <option value="">2-5</option>
                <option value="">6-10</option>
                <option value="">11-20</option>
                <option value="">21-30</option>
                <option value="">31-50</option>
              </select>
            </div>
            <div>
              <input type="date" class="form-control" />
            </div>
            <div class="btn_box">
              <button>Book Now</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end book section -->
