<!-- book section -->
<section class="book_section layout_padding">
  <div class="container">
    <div class="heading_container">
      <h2>Forgot Password</h2>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="img_container">
          <img src="assets/images/f8.png" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form_container">
          <form action="">
            <div>
              <input
                type="email"
                class="form-control"
                placeholder="Your Email"
              />
            </div>
            <div class="btn_box">
              <button>Reset Password</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end book section -->
<!-- <app-auth-footer></app-auth-footer> -->
